In [3]:

import pandas as pd

data = pd.read_csv('2017.csv', skiprows=0)

In [4]:
print('value_counts')

counts = data['Happiness.Score'].value_counts(dropna=False)
counts.head(10)

value_counts

5.074    2
6.454    2
7.284    2
5.838    2
6.105    1
4.535    1
2.693    1
6.403    1
5.472    1
5.181    1
Name: Happiness.Score, dtype: int64

In [5]:
print('sort_values')

sorted_data = data[['Country', 'Freedom']]\
    .sort_values(by = ['Freedom'], ascending=False)

sorted_data.head(10)

sort_values

         Country   Freedom
46    Uzbekistan  0.658249
0         Norway  0.635423
128     Cambodia  0.633376
2        Iceland  0.627163
1        Denmark  0.626007
3    Switzerland  0.620071
4        Finland  0.617951
7    New Zealand  0.614062
8         Sweden  0.612924
6         Canada  0.611101

In [6]:
print('Boolean indexing')

data[data['Happiness.Score'] > 7.5]

Boolean indexing

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715

In [7]:
print('String handling')

data[data['Country'].str.contains('land')]

String handling

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
5,Netherlands,6,7.377,7.427426,7.326574,1.503945,1.428939,0.810696,0.585384,0.470490,0.282662,2.294804
7,New Zealand,8,7.314,7.379510,7.248490,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,2.046456
14,Ireland,15,6.977,7.043352,6.910649,1.535707,1.558231,0.809783,0.573110,0.427858,0.298388,1.773869
31,Thailand,32,6.424,6.509117,6.338883,1.127869,1.425792,0.647239,0.580201,0.572123,0.031613,2.039508
45,Poland,46,5.973,6.053908,5.892092,1.291788,1.445712,0.699475,0.520342,0.158466,0.059308,1.797723

In [8]:
happiness_poland = data[data['Country'] == 'Poland']['Happiness.Rank']
print('Happiness in Poland:', happiness_poland.values[0])

Happiness in Poland: 46

In [9]:
data[(data['Happiness.Score'] > 7.5) & (data['Economy..GDP.per.Capita.'] > 1.4)]\
    .sort_values(by = ['Happiness.Rank'], ascending=False)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027